/* Credits to https://github.com/ChrisTitusTech/hyprland-titus */
* {
    border: none;
    font-family: Ubuntu Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: #e0e0e0;
    border-radius: 5px;
    background: none;
}

window#waybar {
    background: rgba(21, 18, 27, 0.9);
    color: #cdd6f4;
}

tooltip,
#tray menu {
    background: #1e1e2e;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

/* Left */
#workspaces {
    padding: 0px;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    background: rgba(100, 100, 100, 0.4);
}


#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: rgba(100, 100, 100, 0.6);
}

/* Middle */
#custom-media,
#window {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#custom-media:hover {
    background: rgba(100, 100, 100, 0.6);
}

/* Right */
#custom-timer.active {
    background: #8f0000;
    padding: 5px;
}

#custom-timer button:hover {
    background: rgba(100, 100, 100, 0.6);
}

#clock,
#pulseaudio,
#custom-timer,
#custom-weekly-review,
#clock,
#custom-notification,
#disk,
#tray {
    padding: 0px 5px;
    margin: 0px 5px;
}

#tray {
    border: 0px;
}

#pulseaudio:hover,
#custom-timer:hover,
#clock:hover,
#custom-notification:hover,
#tray .passive {
    background: rgba(100, 100, 100, 0.3);
}

#custom-weekly-review {
    background: #8f0000;
}

#pulseaudio {
    border-left: 0px;
    border-right: 0px;
}

#clock {
    margin-right: 0px;
}
