/* Credits to https://github.com/ChrisTitusTech/hyprland-titus */
/* Kanagawa theme colors */
* {
    border: none;
    font-family: "Ubuntu Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    color: #DCD7BA; /* fujiWhite - default foreground */
    /* border-radius: 5px; */
    background: none;
}

window#waybar {
    background: rgba(31, 31, 40, 0.9); /* sumiInk1 - default background */
    color: #DCD7BA; /* fujiWhite */
}

tooltip,
#tray menu {
    background: #16161D; /* sumiInk0 - dark background */
    border-width: 2px;
    border-style: solid;
    border-color: #54546D; /* sumiInk4 - float borders */
}

/* Left */
#workspaces {
    padding: 0px;
}

#workspaces button {
    padding: 5px;
    color: #54546D; /* sumiInk4 - darker foreground */
    margin-right: 5px;
}

#workspaces button.active {
    background: #2A2A37; /* sumiInk2 - lighter background */
}


#workspaces button.focused {
    color: #DCD7BA; /* fujiWhite */
    background: #7E9CD8; /* crystalBlue - functions and titles */
}

#workspaces button.urgent {
    color: #16161D; /* sumiInk0 */
    background: #E82424; /* samuraiRed - diagnostic error */
}

#workspaces button:hover {
    background: #363646; /* sumiInk3 - lighter background (cursorline) */
}

/* Middle */
#custom-media,
#window {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

#custom-media:hover {
    background: #363646; /* sumiInk3 */
}

/* Right */
#custom-timer.active {
    background: #C34043; /* autumnRed - git delete */
    padding: 5px;
}

#custom-timer button:hover {
    background: #363646; /* sumiInk3 */
}

#clock,
#pulseaudio,
#custom-timer,
#custom-weekly-review,
#clock,
#custom-notification,
#disk,
#tray {
    padding: 0px 5px;
    margin: 0px 5px;
}

#tray {
    border: 0px;
}

#pulseaudio:hover,
#custom-timer:hover,
#clock:hover,
#custom-notification:hover,
#tray .passive {
    background: #2A2A37; /* sumiInk2 */
}

#custom-weekly-review {
    background: #C34043; /* autumnRed */
}

#pulseaudio {
    border-left: 0px;
    border-right: 0px;
}

#clock {
    margin-right: 0px;
}
